<nav class="mat-elevation-z6">
	<mat-toolbar color="primary">
		<a mat-button [routerLink]="[ '' ]">
			<h1>Robin Goemaat</h1>
		</a>
		<span class="nav-spacer"></span>
		<button mat-button [matMenuTriggerFor]="projectsMenu">
			projects<mat-icon>arrow_drop_down</mat-icon>
		</button>
		<mat-menu #projectsMenu="matMenu" class="mat-elevation-z10" [xPosition]="'after'">
			<a [routerLink]="[ 'project', 1 ]" routerLinkActive="active" mat-menu-item>Item 1</a>
		</mat-menu>
		<a mat-button [routerLink]="[ 'contact' ]" routerLinkActive="active">
			contact
		</a>
	</mat-toolbar>
</nav>
